/* ================================
 * !Articles
 * ================================*/

li:not(:last-child) .article {
	border-bottom: 1px solid #CCC;
	margin-bottom: 1.6rem;

	@media only screen and (min-width : 800px) {
		margin-bottom: 3.2rem;
	}

}

.article {

	header {
		text-align: center;
	}

	h1 {
		font: bold 3rem/4rem Share, Helvetica,​ arial,​ freesans,​ clean,​ sans-serif;
		text-transform: uppercase;

		@media only screen and (min-width : 800px) {
			font-size: 4.2rem;
			line-height: 6.825rem;
		}

	}

	.date {
		color: #999;
		font-size: 1rem;
		text-transform: uppercase;

		@media only screen and (min-width : 800px) {
			font-size: 1.6rem;
		}

	}

}