/* ================================
 * !Buttons
 * ================================*/

button, .button:link, .button:visited {
	background: #900;
	border: 0;
	cursor: pointer;
	color: #FFF;
	display: inline-block;
	font: default-font($style: bold, $size: 11px);
	padding: 6px 14px;
	position: relative;
	text-transform: uppercase;
	vertical-align: middle;

	&:focus, &:hover, &:active {
		background: #C00;
		text-decoration: none;
	}

	&:active {
		@include linear-gradient(top, #DCDCDC, #FFF);
		top: 1px;
	}

	/* !Important */
	&.important {
		font-size: 18px;
	}

	/* !NotImportant */
	&.notimportant {
		@include box-shadow(none);
		
		font-size: 11px;
		padding: 5px 11px;
	}

	/* !Secondary */
	&.secondary {
		background-color: #1C1C1C;

		&:focus, &:hover, &:active {
			background: #3E3E3E;
		}

	}

}

button {
	padding: 5px 11px;

	@include ie7 {
		padding: 0;
	}

	&[disabled] {
		
		&:focus, &:hover, &:active {
			background: #EEE;
			@include linear-gradient(top, #FFF, #DCDCDC);
			border-color: #A6A6A6;
			cursor: default;
			opacity: .4;
			top: 0;
		}

	}

	/* !NotImportant */
	&.notimportant {
		padding: 4px 8px;
	}

}