/* ================================
 * !Header
 * ================================*/

.footer {
	min-height: 50px;
	padding: 4rem 0;
	position: relative;
	text-align: center;

	@media only screen and (min-width : 800px) {
		padding: 8rem 0;
	}

	li {
		display: inline;
	}

	a {
		border: 0;
		color: #C0C0C0;
		display: inline-block;
		font-size: 0;
		position: relative;
		margin: 2rem;

		@media only screen and (min-width : 800px) {
			margin: 5rem;
		}

		&:before {
			content: attr(data-icon);
			display: inline-block;
			font-family: 'Yannick Cr', Tahoma, Geneva, Kalimati, sans-serif;
			font-size: 5rem;
			transition: .3s all;
		}

		&:focus, &:hover, &:active {
			color: #333;

			&:before, &:after {
				transform: scale(2);
			}

		}

	}

}
