/* ================================
 * !Header
 * ================================*/

.header {
	text-align: center;
	width: 100%;

	@media only screen and (min-width : 800px) {
		position: fixed;
	}

	h1 {
		font: 3.2rem/2rem 'Yannick Cr', Tahoma, Geneva, Kalimati, sans-serif;
		text-shadow: 2px 2px 0 #FFF;
		margin-top: 1.3rem;

		@media only screen and (min-width : 800px) {
			font-size: 6.4rem;
			line-height: 5.1rem;
		}

		a:link, a:visited {
			border: 0;
			color: inherit;
			@include transition(color .3s);
		}

		a:focus, a:hover, a:active {
			color: #3C3C3C;
			text-decoration: none;
		}

	}

	h2 {
		font: 2rem/2rem 'Yannick Cr', Tahoma, Geneva, Kalimati, sans-serif;
		letter-spacing: 0.5em;

		@media only screen and (min-width : 800px) {
			font-size: 1.8rem;
			letter-spacing: 1.2rem;
			line-height: 2.5rem;
		}

		&:after {
			color: #BBB;
			content: '42';
			display: block;
			font: 4em/2rem 'Yannick Cr';
			letter-spacing: 1rem;

			@media only screen and (min-width : 800px) {
				font-size: 8rem;
				letter-spacing: 2rem;
				line-height: 2.8rem;
			}

			@include ie {
				content: '';
			}

		}

	}

}
